g3d/build/cmake_install.cmake
g3d/build/CMakeCache.txt
g3d/build/compile_commands.json
g3d/build/Makefile
g3d/build/.cmake/api/v1/query/client-vscode/query.json
g3d/build/.cmake/api/v1/reply/cache-v2-e7e129367af28432b9ca.json
g3d/build/.cmake/api/v1/reply/codemodel-v2-223c57c6d2f7b36a7f3b.json
g3d/build/.cmake/api/v1/reply/index-2022-02-20T11-29-46-0406.json
g3d/build/.cmake/api/v1/reply/target-cudalib-Release-c9d0d584a460688c4c12.json
g3d/build/.cmake/api/v1/reply/target-testcuda-Release-a0668b09afcf452b00d4.json
g3d/build/CMakeFiles/cmake.check_cache
g3d/build/CMakeFiles/CMakeDirectoryInformation.cmake
g3d/build/CMakeFiles/CMakeError.log
g3d/build/CMakeFiles/CMakeOutput.log
g3d/build/CMakeFiles/Makefile.cmake
g3d/build/CMakeFiles/Makefile2
g3d/build/CMakeFiles/progress.marks
g3d/build/CMakeFiles/TargetDirectories.txt
g3d/build/CMakeFiles/3.16.3/CMakeCCompiler.cmake
g3d/build/CMakeFiles/3.16.3/CMakeCUDACompiler.cmake
g3d/build/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
g3d/build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
g3d/build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CUDA.bin
g3d/build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
g3d/build/CMakeFiles/3.16.3/CMakeSystem.cmake
g3d/build/CMakeFiles/3.16.3/CompilerIdC/a.out
g3d/build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
g3d/build/CMakeFiles/3.16.3/CompilerIdCUDA/a.out
g3d/build/CMakeFiles/3.16.3/CompilerIdCUDA/CMakeCUDACompilerId.cu
g3d/build/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/a_dlink.cubin
g3d/build/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/a_dlink.fatbin
g3d/build/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/a_dlink.fatbin.c
g3d/build/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/a_dlink.o
g3d/build/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/a_dlink.reg.c
g3d/build/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/CMakeCUDACompilerId.cpp1.ii
g3d/build/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/CMakeCUDACompilerId.cpp4.ii
g3d/build/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/CMakeCUDACompilerId.cubin
g3d/build/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/CMakeCUDACompilerId.cudafe1.c
g3d/build/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/CMakeCUDACompilerId.cudafe1.cpp
g3d/build/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/CMakeCUDACompilerId.cudafe1.gpu
g3d/build/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/CMakeCUDACompilerId.cudafe1.stub.c
g3d/build/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/CMakeCUDACompilerId.fatbin
g3d/build/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/CMakeCUDACompilerId.fatbin.c
g3d/build/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/CMakeCUDACompilerId.module_id
g3d/build/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/CMakeCUDACompilerId.o
g3d/build/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/CMakeCUDACompilerId.ptx
g3d/build/CMakeFiles/3.16.3/CompilerIdCXX/a.out
g3d/build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
g3d/build/CMakeFiles/CheckLibraryExists/CheckFunctionExists.cxx
g3d/build/src/cmake_install.cmake
g3d/build/src/libcudalib.a
g3d/build/src/Makefile
g3d/build/src/testcuda
g3d/build/src/CMakeFiles/CMakeDirectoryInformation.cmake
g3d/build/src/CMakeFiles/progress.marks
g3d/build/src/CMakeFiles/cudalib.dir/build.make
g3d/build/src/CMakeFiles/cudalib.dir/cmake_clean_target.cmake
g3d/build/src/CMakeFiles/cudalib.dir/cmake_clean.cmake
g3d/build/src/CMakeFiles/cudalib.dir/CUDA.includecache
g3d/build/src/CMakeFiles/cudalib.dir/depend.internal
g3d/build/src/CMakeFiles/cudalib.dir/depend.make
g3d/build/src/CMakeFiles/cudalib.dir/DependInfo.cmake
g3d/build/src/CMakeFiles/cudalib.dir/flags.make
g3d/build/src/CMakeFiles/cudalib.dir/link.txt
g3d/build/src/CMakeFiles/cudalib.dir/progress.make
g3d/build/src/CMakeFiles/cudalib.dir/CUDA/CudaAnimation.cu.o
g3d/build/src/CMakeFiles/cudalib.dir/CUDA/CudaCompactMesh.cu.o
g3d/build/src/CMakeFiles/cudalib.dir/CUDA/CudaInsertPoint.cu.o
g3d/build/src/CMakeFiles/cudalib.dir/CUDA/CudaInsertPointNew.cu.o
g3d/build/src/CMakeFiles/cudalib.dir/CUDA/CudaMesh.cu.o
g3d/build/src/CMakeFiles/cudalib.dir/CUDA/CudaRefine.cu.o
g3d/build/src/CMakeFiles/cudalib.dir/CUDA/CudaSplitBadElement.cu.o
g3d/build/src/CMakeFiles/cudalib.dir/CUDA/CudaSplitBadtet.cu.o
g3d/build/src/CMakeFiles/cudalib.dir/CUDA/CudaSplitEncseg.cu.o
g3d/build/src/CMakeFiles/cudalib.dir/CUDA/CudaSplitEncsubface.cu.o
g3d/build/src/CMakeFiles/cudalib.dir/CUDA/CudaThrust.cu.o
g3d/build/src/CMakeFiles/testcuda.dir/build.make
g3d/build/src/CMakeFiles/testcuda.dir/cmake_clean.cmake
g3d/build/src/CMakeFiles/testcuda.dir/CXX.includecache
g3d/build/src/CMakeFiles/testcuda.dir/depend.internal
g3d/build/src/CMakeFiles/testcuda.dir/depend.make
g3d/build/src/CMakeFiles/testcuda.dir/DependInfo.cmake
g3d/build/src/CMakeFiles/testcuda.dir/flags.make
g3d/build/src/CMakeFiles/testcuda.dir/link.txt
g3d/build/src/CMakeFiles/testcuda.dir/main.cpp.o
g3d/build/src/CMakeFiles/testcuda.dir/progress.make
g3d/build/src/CMakeFiles/testcuda.dir/Experiment/Experiment_CGAL.cpp.o
g3d/build/src/CMakeFiles/testcuda.dir/Experiment/Experiment.cpp.o
g3d/build/src/CMakeFiles/testcuda.dir/InputGenerator/InputGenerator.cpp.o
g3d/build/src/CMakeFiles/testcuda.dir/Mesh/Mesh.cpp.o
g3d/build/src/CMakeFiles/testcuda.dir/Mesh/MeshChecker.cpp.o
g3d/build/src/CMakeFiles/testcuda.dir/Mesh/MeshReconstruct.cpp.o
g3d/build/src/CMakeFiles/testcuda.dir/Mesh/MeshRefine.cpp.o
g3d/build/src/CMakeFiles/testcuda.dir/Predicates/InputPredicates.cpp.o
g3d/build/src/CMakeFiles/testcuda.dir/Predicates/predicates.cpp.o
g3d/build/src/CMakeFiles/testcuda.dir/TetGen/tetgen.cpp.o
g3d/input/d0_s0_a0_p12000_t3000_e0.node
g3d/input/d0_s0_a0_p12000_t3000_e0.poly
g3d/input/d1_s0_a0_p30000_t7500_e0.node
g3d/input/d1_s0_a0_p30000_t7500_e0.poly
g3d/input/d2_s0_a0_p25000_t6250_e0.node
g3d/input/d2_s0_a0_p25000_t6250_e0.poly
g3d/input/d3_s1_a0_p20000_t5000_e0.node
g3d/input/d3_s1_a0_p20000_t5000_e0.poly
g3d/input_real/onderstuk_v3.stl
g3d/input_real/Sculpture01.off
g3d/input_real/Sculpture01.txt
g3d/input_real/shy.off
g3d/input_real/skull.off
g3d/input_real/skull.txt
g3d/input_real/thunder.off
g3d/cpptools-linux.vsix
g3d/result_real/shy_gpu_new_1.4.mesh
g3d/result_real/shy_gpu_new_1.4.txt
g3d/result_real/skull_gpu_new_1.4.mesh
g3d/result_real/skull_gpu_new_1.4.txt
g3d/service_build/cmake_install.cmake
g3d/service_build/CMakeCache.txt
g3d/service_build/Makefile
g3d/service_build/CMakeFiles/cmake.check_cache
g3d/service_build/CMakeFiles/CMakeDirectoryInformation.cmake
g3d/service_build/CMakeFiles/CMakeError.log
g3d/service_build/CMakeFiles/CMakeOutput.log
g3d/service_build/CMakeFiles/Makefile.cmake
g3d/service_build/CMakeFiles/Makefile2
g3d/service_build/CMakeFiles/progress.marks
g3d/service_build/CMakeFiles/TargetDirectories.txt
g3d/service_build/CMakeFiles/3.16.3/CMakeCCompiler.cmake
g3d/service_build/CMakeFiles/3.16.3/CMakeCUDACompiler.cmake
g3d/service_build/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
g3d/service_build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
g3d/service_build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CUDA.bin
g3d/service_build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
g3d/service_build/CMakeFiles/3.16.3/CMakeSystem.cmake
g3d/service_build/CMakeFiles/3.16.3/CompilerIdC/a.out
g3d/service_build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
g3d/service_build/CMakeFiles/3.16.3/CompilerIdCUDA/a.out
g3d/service_build/CMakeFiles/3.16.3/CompilerIdCUDA/CMakeCUDACompilerId.cu
g3d/service_build/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/a_dlink.cubin
g3d/service_build/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/a_dlink.fatbin
g3d/service_build/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/a_dlink.fatbin.c
g3d/service_build/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/a_dlink.o
g3d/service_build/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/a_dlink.reg.c
g3d/service_build/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/CMakeCUDACompilerId.cpp1.ii
g3d/service_build/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/CMakeCUDACompilerId.cpp4.ii
g3d/service_build/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/CMakeCUDACompilerId.cubin
g3d/service_build/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/CMakeCUDACompilerId.cudafe1.c
g3d/service_build/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/CMakeCUDACompilerId.cudafe1.cpp
g3d/service_build/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/CMakeCUDACompilerId.cudafe1.gpu
g3d/service_build/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/CMakeCUDACompilerId.cudafe1.stub.c
g3d/service_build/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/CMakeCUDACompilerId.fatbin
g3d/service_build/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/CMakeCUDACompilerId.fatbin.c
g3d/service_build/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/CMakeCUDACompilerId.module_id
g3d/service_build/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/CMakeCUDACompilerId.o
g3d/service_build/CMakeFiles/3.16.3/CompilerIdCUDA/tmp/CMakeCUDACompilerId.ptx
g3d/service_build/CMakeFiles/3.16.3/CompilerIdCXX/a.out
g3d/service_build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
g3d/service_build/CMakeFiles/CheckLibraryExists/CheckFunctionExists.cxx
g3d/service_build/src/cmake_install.cmake
g3d/service_build/src/libcudalib.a
g3d/service_build/src/Makefile
g3d/service_build/src/testcuda
g3d/service_build/src/CMakeFiles/CMakeDirectoryInformation.cmake
g3d/service_build/src/CMakeFiles/progress.marks
g3d/service_build/src/CMakeFiles/cudalib.dir/build.make
g3d/service_build/src/CMakeFiles/cudalib.dir/cmake_clean_target.cmake
g3d/service_build/src/CMakeFiles/cudalib.dir/cmake_clean.cmake
g3d/service_build/src/CMakeFiles/cudalib.dir/CUDA.includecache
g3d/service_build/src/CMakeFiles/cudalib.dir/depend.internal
g3d/service_build/src/CMakeFiles/cudalib.dir/depend.make
g3d/service_build/src/CMakeFiles/cudalib.dir/DependInfo.cmake
g3d/service_build/src/CMakeFiles/cudalib.dir/flags.make
g3d/service_build/src/CMakeFiles/cudalib.dir/link.txt
g3d/service_build/src/CMakeFiles/cudalib.dir/progress.make
g3d/service_build/src/CMakeFiles/cudalib.dir/CUDA/CudaAnimation.cu.o
g3d/service_build/src/CMakeFiles/cudalib.dir/CUDA/CudaCompactMesh.cu.o
g3d/service_build/src/CMakeFiles/cudalib.dir/CUDA/CudaInsertPoint.cu.o
g3d/service_build/src/CMakeFiles/cudalib.dir/CUDA/CudaInsertPointNew.cu.o
g3d/service_build/src/CMakeFiles/cudalib.dir/CUDA/CudaMesh.cu.o
g3d/service_build/src/CMakeFiles/cudalib.dir/CUDA/CudaRefine.cu.o
g3d/service_build/src/CMakeFiles/cudalib.dir/CUDA/CudaSplitBadElement.cu.o
g3d/service_build/src/CMakeFiles/cudalib.dir/CUDA/CudaSplitBadtet.cu.o
g3d/service_build/src/CMakeFiles/cudalib.dir/CUDA/CudaSplitEncseg.cu.o
g3d/service_build/src/CMakeFiles/cudalib.dir/CUDA/CudaSplitEncsubface.cu.o
g3d/service_build/src/CMakeFiles/cudalib.dir/CUDA/CudaThrust.cu.o
g3d/service_build/src/CMakeFiles/testcuda.dir/build.make
g3d/service_build/src/CMakeFiles/testcuda.dir/cmake_clean.cmake
g3d/service_build/src/CMakeFiles/testcuda.dir/CXX.includecache
g3d/service_build/src/CMakeFiles/testcuda.dir/depend.internal
g3d/service_build/src/CMakeFiles/testcuda.dir/depend.make
g3d/service_build/src/CMakeFiles/testcuda.dir/DependInfo.cmake
g3d/service_build/src/CMakeFiles/testcuda.dir/flags.make
g3d/service_build/src/CMakeFiles/testcuda.dir/link.txt
g3d/service_build/src/CMakeFiles/testcuda.dir/main.cpp.o
g3d/service_build/src/CMakeFiles/testcuda.dir/progress.make
g3d/service_build/src/CMakeFiles/testcuda.dir/Experiment/Experiment_CGAL.cpp.o
g3d/service_build/src/CMakeFiles/testcuda.dir/Experiment/Experiment.cpp.o
g3d/service_build/src/CMakeFiles/testcuda.dir/InputGenerator/InputGenerator.cpp.o
g3d/service_build/src/CMakeFiles/testcuda.dir/Mesh/Mesh.cpp.o
g3d/service_build/src/CMakeFiles/testcuda.dir/Mesh/MeshChecker.cpp.o
g3d/service_build/src/CMakeFiles/testcuda.dir/Mesh/MeshReconstruct.cpp.o
g3d/service_build/src/CMakeFiles/testcuda.dir/Mesh/MeshRefine.cpp.o
g3d/service_build/src/CMakeFiles/testcuda.dir/Predicates/InputPredicates.cpp.o
g3d/service_build/src/CMakeFiles/testcuda.dir/Predicates/predicates.cpp.o
g3d/service_build/src/CMakeFiles/testcuda.dir/TetGen/tetgen.cpp.o
g3d/res.txt
